<div class="storytimeisland-gallery">
  <div id="gallery" class="quickanimator">

    <div class="gallerymask">
      <div class="galleryimages quickanimator" style="position:relative;">


      </div>
    </div>

    <div class="galleryarrowleft">
        <img class="arrowimg" data-direction="-1" src="build/storytimeislandbook/img/leftarrow.png" height=80 />
    </div>

    <div class="galleryarrowright">
        <img class="arrowimg" data-direction="1" src="build/storytimeislandbook/img/rightarrow.png" height=80 />
    </div>

  </div>
</div>